html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

* {
    font-family: "San Francisco"   
}

html {
  position: relative;
  min-height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  color:#a9a9a9; margin:auto;
  font:  1.1em "San Francisco", sans-serif;
  color:#212121;
  letter-spacing:0.02em;
}

body {
	-webkit-text-size-adjust: none;
  margin-bottom: 60px;
}

p { font-weight: 400; }
p.thin { font-weight: 200; }
p.ultralight { font-weight: 100; }

.dark-primary-color    { background: #007aff; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.secondary-bg {
  background-color:#111; 
  color:#fff;
}
.third-bg {
  background-color:#fff; 
  color:#000;
}

h1 {
  font-size:2.5em;
  text-align:center;
  margin:10px;
  width:100%;
  font-weight: 700; 
}

h2 {
  font-size:1.6em;
  font-weight: 600;
}

h3 {
  font-size:3.6em;
  font-weight: 600;
}

h4 {
  font-size:1.5em;
  font-weight: 600;
}

a {
  text-decoration:none!important;
}

#home {
  padding-top:5em;
  padding-bottom:5em;
}

#features, #pricing, #video {
  padding-top:5em;
  padding-bottom:5em;
}

.featured {
  padding-top:2em;
  padding-bottom:2em;
}

.navbar-default {
  background-color:#007aff!important;
  color:#fff!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-toggle {
  border:none;
}

.navbar-toggle button:hover {
  background:#ffeb3b;
}

.navbar-nav>.open>a {
  background-color:#333!important;
}

.dropdown-menu>li> a:hover {
  color:#333!important;
}

.dropdown-menu {
  background-color:#333;
}

.navbar-default .navbar-toggle .icon-bar {
  border: 1px solid #fff!important
}

.navbar-default{
  border-bottom:none!important;
}

@media (max-width: 767px) {
  .navbar-collapse
    {
      background-color:rgba(0, 122, 255, 0.25);
      border:0px;
      border:none;
    }
}

.navbar-default a {
  color:#fff!important;
}

.active a {
  color:#fff!important;
  background-color:transparent!important;

}
.navbar-default {
  border-bottom:0px!important;
}

.page-header {
  margin-top:5em;
  border:0  ;
}

.primary-phone{
  margin: 0 auto 0px;
  max-height:70%;
}

@media only screen and (max-width : 480px) {
  .screenshot{
    height:30%;
  }
}


#top-navigation-wrapper {
  background-color:#007aff;
  padding:5px;
  color:#fff;
}

.badge {
  margin:40px;
}

.brand-logo {
  margin-left:10px;
}

.appstore-badge {
  padding:20px;
  margin: 2.0em auto 2.0em auto;
}

.footer {
  font-size:13px;
  padding-top:20px;
}

.features ul {
  margin-top:30px;
  margin-bottom:50px;
  font-size:1.2em;
  font-weight:400;
}

.special {
  background-color:#ea2b6c;
  padding:5px;
  color:#fff;
  border-radius:5px;
  font-size:0.75em;
}

.fb-like {
  margin-bottom:30px;
  width: 100%;
  text-align:center;
}

.social {
  text-align:center;
  width:100%;
  height:40px;
  margin-top:50px;
  margin-bottom:150px;
}

.twitter {
  width:50px;
  float:center;
}

.fb {
  width:50px;
  float:center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color:#007aff;
}

footer a {
  color:#ffffff!important;
}

.copy {
  margin-top:10px;
}

.featured-item {
  padding-top:1em;
  padding-bottom:1em;
  font-weight: 100;
  letter-spacing:0.01em;
}

.featured-item-heading {
  font-size:1.75em;
  font-weight: 100;
  padding-bottom:0.5em;
  padding-top:0.5em;
  color:#aaa;
}

 ol.breadcrumb {
  background:transparent;

}

.featured-item img {
  max-height:45%;
}

.feature-selector {
  padding-top:2em;
}

.hidden { display:none;}

.device-mockup.iphone6_plus.portrait > .device > .screen, .device-mockup.iphone6_plus > .device > .screen {
    top: 11%!important;
    bottom: 11.58%;
    left: 5.97%;
    right: 5.97%
}
